@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* Navigation Bar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 36px 150px;
}
.name{
    color: rgba(13, 19, 33, 1);

font-family: Azeret Mono;
font-size: 28px;
font-weight: 800;
line-height: 100%;
letter-spacing: 0%;
text-align: left;
}


/* Button */

.btn-container {

    border: 2px solid rgba(13, 19, 33, 1);
    border-radius: 8px;
    opacity: 0.8;
}

.btn-container a {
    background-color: transparent;
    color: rgba(13, 19, 33, 1);

    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

nav .btn-container a{
    display: inline-block;
    padding: 15px 22px;
}
nav .btn-container:hover{
  transform: translateY(-2px);
  top: -2px;
}
nav .btn-container:active{
 transform: translateY(0);
  top: 0;
  background-color: rgba(13, 19, 33, 1); 
}
nav .btn-container a:active{
    color:rgba(255, 255, 255, 1);}


/* Hero */

.hero{
    background-image: url(../assets/Hero-bg.png);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero img{
    margin-top:26px;
}

.hero h3{
    color: rgba(13, 19, 33, 1);

font-family: Azeret Mono;
font-size: 48px;
font-weight: 800;
line-height: 68px;
letter-spacing: 0%;
text-align: center;
margin-top: 30px;
}

.hero p{
    color: rgba(13, 19, 33, 1);

font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
margin-top: -24px;
}
.hero div{
    margin: 32px 0px 45px 0px ;
}


/* Why  */

.why .reason{
    border-radius: 16px;
background-color: rgba(13, 19, 33, 0.02);
margin: 74px 152px 17px 148px;
display: flex;
flex-direction: column;
align-items: center;
gap: 32px;
padding-bottom:  80px; ;
}



.reason h3{
    color: rgba(13, 19, 33, 1);

font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
margin-top: 86px;
}
.reason p{
    color: rgba(13, 19, 33, 1);

font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
margin-top: -5px;
margin-bottom: 32px;
}

.why .r-container{
    display: flex;
    /* margin-bottom: 32px; */
    padding: 48px;
    
gap: 98px;
}
.why .r-container h4{
color: rgba(13, 19, 33, 0.7);

font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 16px;
}

.why .r-container p{
    color: rgba(13, 19, 33, 1);

font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 32px;

}




.why .r-side{


    border-radius: 16px;

background: linear-gradient(90.00deg, rgba(255, 255, 255, 1),rgba(255, 255, 255, 0) 100%);

}
.why .l-side{
    border-radius: 16px;

background: linear-gradient(270.00deg, rgba(255, 255, 255, 1),rgba(255, 255, 255, 0) 100%);
}



/* Learn More Button */

.why .r-container button{
    color: rgba(13, 19, 33, 1);

font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.7);
opacity: 0.7;
padding: 12px 20px;
cursor: pointer;
margin-bottom: 10px;

}
.why .r-container button:hover{
     transform: translateY(-2px);
  top: -2px;
}

.why .r-container button:active{
 transform: translateY(0);
  top: 0;
  background-color:  rgba(13, 19, 33, 1); 
  color:rgba(255, 255, 255, 1);

}